{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended-with-formatting" ],
	"globals": {
		"wikipediaPreview": true,
		"XMLHttpRequest": true
	},
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [ ".js" ]
			}
		}
	},
	"rules": {
		"click-events-have-key-events": "off",
		"no-shadow": "off"
	}
}
