{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended-with-formatting" ],
	"globals": {
		"wikipediaPreview": true,
		"XMLHttpRequest": true
	},
	"rules": {
		"click-events-have-key-events": "off"
	}
}
