.wikipediapreview-intro {
	width: 50%;
	margin: auto;
}

.wikipediapreview-intro-wordmark {
	margin: 20px 0;
}

.wikipediapreview-intro-illustration {
	margin: 20px auto;
	width: 90%;
}

.wikipediapreview-intro-step {
	margin: 20px auto;
	width: 90%;
}

