body {

	.wikipediapreview-edit-inline {

		&-search {
			position: relative;
			min-width: 400px;
			margin: 0;

			&-label {
				width: 100%;
				text-align: center;
				font-size: 16px;
				font-weight: 700;
				color: #202122;
				margin: 0;
				padding: 12px 0;
				border-bottom: 1px solid #c8ccd1;
			}

			&-input {
				margin: 30px 10px 30px;

				input {
					padding-left: 35px !important;
					padding-right: 95px !important;
				}

				&.lang-code-adjustment {

					input {
						padding-right: 140px !important;
					}
				}

				@media screen and (max-width: 782px) {
					padding-right: 20px;
				}

			}

			&-icon {
				background-image: url(./images/search-black.svg);
				width: 20px;
				height: 20px;
				position: absolute;
				bottom: 5px;
				left: 18px;

				@media screen and (max-width: 782px) {
					bottom: 10px;
				}
			}

			&-tools {
				position: absolute;
				bottom: 0;
				right: 8px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				@media screen and (max-width: 782px) {
					top: 84px;
					right: 28px;
				}
			}

			&-language {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				border-left: solid 1px;
				height: 30px;
				padding-right: 8px;
				padding-left: 8px;

				&:hover {
					cursor: pointer;
				}

				&-code {
					text-align: center;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 700;
					margin-right: 2px;

					&.focused {
						color: #006ba1;
					}
				}

				&-dropdown {
					background-image: url(./images/dropdown.svg);
					width: 20px;
					height: 20px;
				}

				@media screen and (max-width: 782px) {
					right: 24px;
					height: 40px;
				}

				&.focused {
					border-left: solid 1.5px #006ba1;
				}
			}

			&-close {
				background-image: url(./images/close.svg);
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				padding: 0;
				margin-right: 4px;

				&:hover {
					cursor: pointer;
				}

				@media screen and (max-width: 782px) {
					bottom: 10px;
					right: 84px;
				}
			}

			&-loading {
				position: absolute;
				bottom: -7px;
				left: 11px;
				height: 3px;
				width: 130px;
				border-radius: 3px;
				margin-top: 10px;
				background: #36c;
				animation-name: wikipediapreview-edit-inline-loader;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease;
			}
		}

		&-info {
			padding: 0 20px 10px;
		}

		&-list {
			position: relative;
			width: 100%;
			overflow: hidden;
			margin-top: -10px;

			&-item {
				position: relative;
				height: 60px;
				padding: 10px;

				&:hover,
				&.hovered {
					background-color: #eaecf0;
					cursor: pointer;
				}

				&-img {
					position: absolute;
					background-image: url(./images/thumbnail.svg);
					width: 42px;
					height: 42px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					border-radius: 2px;
					border: 1px solid #eaecf0;
				}

				&-title {
					position: absolute;
					width: calc(100% - 70px);
					left: 60px;
					font-size: 15px;
					font-weight: 700;
					line-height: 20px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				&-description {
					position: absolute;
					width: calc(100% - 70px);
					left: 60px;
					bottom: 10px;
					color: #72777d;
					font-size: 13px;
					font-weight: 400;
					line-height: 20px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}

		&-language-selector {
			position: relative;
			height: 392px;
			width: 400px;
			background: #fff;
			overflow: hidden;
			z-index: 1000;

			&-header {
				display: flex;
				justify-content: space-between;
				padding: 16px;
				font-size: 16px;
				font-weight: 700;
				line-height: 19.55px;

				&-close {
					background-image: url(./images/close-language.svg);
					width: 20px;
					height: 20px;
					cursor: pointer;
				}
			}

			&-input {
				width: 100%;
				padding-right: 1px;

				/* stylelint-disable-next-line no-descending-specificity */
				input {
					border: 2px solid #36c !important;
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) !important;
					border-radius: 0 !important;
					padding-left: 30px !important;
					font-size: 16px !important;
				}
			}

			&-search-icon {
				background-image: url(./images/search-black.svg);
				width: 20px;
				height: 20px;
				position: absolute;
				top: 60px;
				left: 8px;

				@media screen and (max-width: 782px) {
					top: 62px;
				}
			}

			&-label {
				margin-left: 35px;
				margin-top: 17px;
				font-size: 16px;
				line-height: 19px;
				color: #72777d;
			}

			&-results {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				max-height: 235px;
				padding: 15px 30px 30px 15px;

				&-item {
					margin-right: 15px;
					margin-top: 10px;
					padding: 2px 20px;
					font-size: 16px;
					line-height: 19px;
					width: 110px;

					&:hover,
					&.hovered {
						background-color: #eaecf0;
						cursor: pointer;
					}
				}
			}

			&-results-none {
				font-size: 16px;
				margin-left: 16px;
			}

			@media screen and (max-width: 782px) {
				top: -185px;
			}
		}

		&.is-expanded {

			.wikipediapreview-edit-inline-search-loading {
				animation-name: wikipediapreview-edit-inline-loader-expanded;
			}
		}
	}

	.wikipediapreview-edit-tooltip-popover {

		&-content {
			width: 190px;
			height: 40px;
			background: #36c;
			color: #fff;
			display: flex;
			justify-content: center;
		}

		&-text {
			align-self: center;
		}

		.components-popover__arrow {

			&::before {
				background-color: unset;
			}
		}

		.components-popover__triangle-bg {
			fill: #36c;
		}
	}

	.wikipediapreview-edit-preview-popover {

		.components-popover__content {
			overflow: unset !important;
			border-radius: 8px 8px 0 0;
		}

		@media (prefers-color-scheme: dark ) {
			.components-popover__arrow {
				&::before {
					background-color: unset;
				}
			}
	
			.components-popover__triangle-bg {
				fill: #202122;
			}
		}

		.wikipediapreview-edit-preview {
			width: 350px;
			min-height: 214px;

			&-container {
				display: flex;
				align-items: center;
			}

			&-controllers {
				width: 73px;
				margin-right: -73px;
				height: 194px;
				background-color: #000;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				font-size: 12px;
				color: #fff;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				padding: 3px;

				&:hover {
					cursor: pointer;
				}

				&-option {
					display: flex;
					flex-direction: column;
					align-items: center;

					&-icon {
						&-change {
							width: 20px;
							height: 20px;
							margin-bottom: 5px;
							background-image: url(./images/search-white.svg);
							background-repeat: no-repeat;
							background-position: center;
						}
						&-sections {
							width: 20px;
							height: 20px;
							margin-bottom: 5px;
							background-image: url(./images/article-white.svg);
							background-repeat: no-repeat;
							background-position: center;
						}
						&-remove {
							width: 20px;
							height: 20px;
							margin-bottom: 5px;
							background-image: url(./images/remove-white.svg);
							background-repeat: no-repeat;
							background-position: center;
						}
					}

					&-message {
						width: 100%;
						height: 20px;
					}
				}
			}

			.wikipediapreview {
				box-shadow: none;

				&-gallery {
					display: none;
				}

				.wikipediapreview-footer {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 40px;
					z-index: 5;

					&-link {
						margin-right: 5px;

						&-cta {
							text-decoration: none;
							font-size: 14px;
							color: #36c;
							margin-right: 4px;

							&:hover {
								text-decoration: underline;
							}

							&:visited {
								color: #6B4BA1;
								svg path {
									fill: #6B4BA1;
								}
							}
						}
					}
				}
			}
		}

		&.is-expanded {
			background-color: rgba(0, 0, 0, 0.7);
			overflow-y: hidden;

			.components-popover__header {
				visibility: hidden;
			}

			.wikipediapreview-edit-preview {
				width: 100vw;

				.wikipediapreview {
					width: 100%;
				}

				&-container {
					position: fixed;
					bottom: 0;

					.wikipediapreview-edit-preview-controllers {
						position: absolute;
						right: 70px;
						top: 58px;
						width: 120px;
						height: 95px;
						background-color: #fff;
						color: #000;
						border-top-right-radius: unset;
						border-bottom-right-radius: unset;
						border: solid 1px #ccc;
						font-size: 16px;
						box-shadow: 0 2px 2px #1e1e1e;

						&-menu {
							height: 20px;
							width: 20px;
							background-image: url(./images/vertical-ellipsis.svg);
							margin: auto 10px;
							cursor: pointer;
						}

						&-option {
							flex-direction: row;
							width: 100%;
							&-icon {
								&-change {
									margin: 0 5px 0 5px;
									background-image: url(./images/search-black.svg);
									background-repeat: no-repeat;
									background-position: center;
									width: 25px;
								}
								&-sections {
									margin: 0 5px 0 5px;
									background-image: url(./images/article-black.svg);
									background-repeat: no-repeat;
									background-position: center;
									width: 25px;
								}
								&-remove {
									margin: 0 5px 0 5px;
									background-image: url(./images/remove-black.svg);
									background-repeat: no-repeat;
									background-position: center;
									width: 25px;
								}
							}
						}
					}

					&[dir="rtl"] {

						.wikipediapreview-edit-preview-controllers {
							right: unset;
							left: 70px;

							margin-right: 0;
							margin-left: -73px;

							&-change::before,
							&-remove::before {
								right: unset;
								left: 7px;
							}
						}
					}
				}


			}
		}
	}

	.wikipediapreview-edit-sections {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-height: 420px;
		width: 390px;
		background-color: #fff;
		border: 1px solid #c8ccd1;
		border-radius: 2px;

		&-header {
			width: 100%;
			min-height: 70px;
			display: flex;
			align-items: center;
			padding: 0 16px 0 16px;
			font-size: 16px;
			font-weight: bold;
			border-bottom: 1px solid #c8ccd1;
			justify-content: space-between;

				&-title {
					max-width: 90%;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					color: #202122
				}

				&-close {
					background-image: url(./images/close-sections.svg);
					width: 20px;
					height: 20px;
					cursor: pointer;
				}
		}

		&-list {
			overflow: scroll;
			height: 100vh;

			&-item {
				display: flex;
				align-items: center;
				padding: 4px;
				margin: 8px;
				
				&-content {
					display: flex;
					flex-direction: column;
	
					&-title {
						color: #202122
					}
	
					&-text {
						color: #757575;
						p {
							margin: 0;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}
				}
	
				&-selected-indicator {
					background-image: url(./images/selected.svg);
					background-repeat: no-repeat;
					width: 75px;
					height: 20px;
				}
	
				&.wikipediapreview-edit-sections-list-item-selected {
					border: solid #36c;
					border-radius: 2px;
	
					.wikipediapreview-edit-sections-list-item-content-title {
						font-weight: bold;
					}
				}
				
				&:hover,
				&.wikipediapreview-edit-sections-list-item-hovered {
					background-color: #eaecf0;
					cursor: pointer;
				}
			}
		}

		&-loading {
			display: flex;
			height: 212px;
			flex-direction: column;
			justify-content: center;
    		align-items: center;

			&-spinner {
				border: 2px solid #f3f3f3;
				border-top: 2px solid #36c;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				animation: 2s linear infinite;
				animation-name: wikipediapreview-edit-sections-loading-spinner;
			}
			
			&-text {
				align-self: center;
			}
		}

		@media screen and (max-width: 782px) {
			width: 100%;
			max-height: unset;
			margin-top: 60px;
		}
	}

	&.rtl {

		.wikipediapreview-edit-inline {

			&-search {

				&-input {

					input {
						color: #72777d;
						padding-right: 35px !important;
						padding-left: 95px !important;
					}

					&.lang-code-adjustment {

						input {
							padding-left: 140px !important;
						}
					}

					@media screen and (max-width: 782px) {
						padding-left: 20px;
						padding-right: unset;
					}
				}

				&-icon {
					left: unset;
					right: 18px;

					@media screen and (max-width: 782px) {
						bottom: 10px;
					}
				}

				&-tools {
					left: 8px;
					right: unset;

					@media screen and (max-width: 782px) {
						left: 28px;
						right: unset;
					}
				}

				&-close {
					margin-left: 4px;
					margin-right: unset;

					@media screen and (max-width: 782px) {
						bottom: 10px;
					}
				}

				/* stylelint-disable-next-line no-descending-specificity */
				&-loading {
					animation-name: wikipediapreview-edit-inline-rtl-loader;
				}

				&-language {
					left: 10px;
					border-right: solid 1px;
					right: unset;
					border-left: unset;

					&-code {
						margin-left: 2px;
						margin-right: unset;
					}

					&.focused {
						border-right: solid 1.5px #006ba1;
						border-left: unset;
					}

					@media screen and (max-width: 782px) {
						left: 25px;
						right: unset;
					}
				}
			}

			&-list {

				&-item {

					&-title {
						right: 60px;
						left: unset;
					}

					&-description {
						right: 60px;
						left: unset;
					}
				}
			}

			&-language-selector {

				&-input {

					/* stylelint-disable-next-line no-descending-specificity */
					input {
						color: #72777d;
						padding-right: 30px !important;
						padding-left: unset;
					}
				}

				&-search-icon {
					right: 8px;
					left: unset;
				}

				&-label {
					margin-right: 35px;
					margin-left: unset;
				}

				&-results {
					padding: 15px 15px 30px 30px;

					&-item {
						margin-left: 15px;
						margin-right: unset;
					}
				}
			}

			&.is-expanded {

				.wikipediapreview-edit-inline-search-loading {
					animation-name: wikipediapreview-edit-inline-rtl-loader-expanded;
				}
			}
		}

		/* stylelint-disable no-descending-specificity */
		.wikipediapreview-edit-preview-popover {

			.wikipediapreview-edit-preview {

				&-controllers {
					border-top-right-radius: unset;
					border-bottom-right-radius: unset;
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;

					&-change::before {
						left: unset;
						right: 12px;
					}

					&-remove::before {
						left: unset;
						right: 15px;
					}
				}
			}
		}
		/* stylelint-enable no-descending-specificity */
	}
}

@keyframes wikipediapreview-edit-inline-loader {

	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(250px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes wikipediapreview-edit-inline-rtl-loader {

	0% {
		transform: translateX(250px);
	}

	50% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(250px);
	}
}

@keyframes wikipediapreview-edit-inline-loader-expanded {

	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(calc(100vw - 150px));
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes wikipediapreview-edit-inline-rtl-loader-expanded {

	0% {
		transform: translateX(calc(100vw - 150px));
	}

	50% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(100vw - 150px));
	}
}

@keyframes wikipediapreview-edit-sections-loading-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
