.wikipediapreview-edit-inline {

	&-search {
		position: relative;
		min-width: 400px;
		margin: 0;

		&-label {
			width: 100%;
			text-align: center;
			font-size: 16px;
			font-weight: 700;
			margin: 0;
			padding: 12px 0;
			border-bottom: 1px solid #c8ccd1;
		}

		&-input {
			margin: 30px 10px 15px;

			input {
				padding-left: 35px !important;
			}

			@media screen and (max-width: 782px) {
				padding-right: 20px;
			}

		}

		&-icon {
			background-image: url(./images/search.svg);
			width: 20px;
			height: 20px;
			position: absolute;
			bottom: 5px;
			left: 18px;

			@media screen and (max-width: 782px) {
				bottom: 10px;
			}
		}
		
		&-language {
			position: absolute;
			bottom: 0px;
			right: 10px;
			display: flex;
			width: 50px;
			justify-content: space-evenly;
			align-items: center;
			border-left: solid 1px;
			height: 30px;

			&-code {
				text-align: center;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 700;
			}

			&-dropdown {
				background-image: url(./images/dropdown.svg);
				width: 20px;
				height: 20px;
			}
			
			@media screen and (max-width: 782px) {
				right: 24px;
				height: 40px;
			}
		}

		&-close {
			background-image: url(./images/close.svg);
			width: 20px;
			height: 20px;
			position: absolute;
			bottom: 5px;
			right: 65px;
			padding: 0;

			&:hover {
				cursor: pointer;
			}

			@media screen and (max-width: 782px) {
				bottom: 10px;
				right: 78px;
			}
		}

		&-loading {
			position: absolute;
			bottom: -7px;
			left: 11px;
			height: 3px;
			width: 130px;
			border-radius: 3px;
			margin-top: 10px;
			background: #36c;
			animation-name: wikipediapreview-edit-inline-loader;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease;
		}
	}

	&-info {
		padding: 0 20px 10px;
	}

	&-list {
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-top: -10px;

		&-item {
			position: relative;
			height: 60px;
			padding: 10px;

			&:hover,
			&.hovered {
				background-color: #eaecf0;
				cursor: pointer;
			}

			&-img {
				position: absolute;
				background-image: url(./images/thumbnail.svg);
				width: 42px;
				height: 42px;
				background-repeat: no-repeat;
				background-position: center center;
				border-radius: 2px;
				border: 1px solid #eaecf0;
			}

			&-title {
				position: absolute;
				width: calc(100% - 70px);
				left: 60px;
				font-size: 15px;
				font-weight: 700;
				line-height: 20px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			&-description {
				position: absolute;
				width: calc(100% - 70px);
				left: 60px;
				bottom: 10px;
				color: #72777d;
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}

	&-language-selector {
		position: absolute;
		width: 100%;
		background: white;
		height: 100%;
		top: 0;
		overflow: hidden;

		&-header {
			display: flex;
			justify-content: space-between;
			padding: 16px;
			font-size: 16px;
			font-weight: 700;
			line-height: 19.55px;

			&-close {
				background-image: url(./images/close-language.svg);
				width: 20px;
				height: 20px;
			}
		}

		&-input {
			width: 100%;
			padding-right: 1px;
			input {
				border: 2px solid #3366CC !important;
				box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25) !important;
				border-radius: 0px !important;
				padding-left: 30px !important;
				font-size: 16px !important;
			}
		}

		&-search-icon {
			background-image: url(./images/search.svg);
			width: 20px;
			height: 20px;
			position: absolute;
			top: 58px;
			left: 8px;

			@media screen and (max-width: 782px) {
				bottom: 10px;
			}	
		}

		&-label {
			margin-left: 35px;
			margin-top: 17px;
			font-size: 16px;
			line-height: 19px;
			color: #72777D;
		}

		&-results {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: 235px;
			padding: 15px 30px 30px 15px;

			&-item {
				margin-right: 15px;
				margin-top: 10px;
				padding: 2px 20px;
				font-size: 16px;
				line-height: 19px;
				width: 110px;

				&:hover {
				background-color: #eaecf0;
				cursor: pointer;
			}
			}
		}

		&.no-title {
			position: relative;
			top: -120px;
			height: 310px;
		}
	}

	&.is-expanded {

		.wikipediapreview-edit-inline-search-loading {
			animation-name: wikipediapreview-edit-inline-loader-expanded;
		}
	}
}

.wikipediapreview-edit-preview-popover {

	/* stylelint-disable-next-line selector-class-pattern */
	.components-popover__content {
		background: unset;
		border: unset;
		box-shadow: none;
	}

	.wikipediapreview-edit-preview-container {
		display: flex;
		align-items: center;
	}

	.wikipediapreview-edit-preview {
		width: 350px;

		&-controllers {
			width: 52px;
			height: 136px;
			background-color: #000;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			font-size: 12px;
			color: #fff;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			padding: 3px;

			&:hover {
				cursor: pointer;
			}

			&-change {

				&::before {
					position: relative;
					content: url(./images/change.svg);
					width: 20px;
					height: 20px;
					left: 14px;

				}
			}

			&-remove {

				&::before {
					position: relative;
					content: url(./images/remove.svg);
					width: 20px;
					height: 20px;
					left: 15px;

				}

			}
		}

		.wikipediapreview {
			box-shadow: none;
		}

		.wikipediapreview-body::after {
			content: none;
		}
	}

	&.is-expanded {

		background-color: rgba(0, 0, 0, 0.7);

		/* stylelint-disable-next-line selector-class-pattern */
		.components-popover__header {
			visibility: hidden;
		}

		.wikipediapreview-edit-preview-container {
			position: fixed;
			bottom: 0;
		}

		.wikipediapreview-edit-preview {
			width: 100vw;

			&-controllers {
				margin-left: -52px;
				border-top-right-radius: unset;
				border-bottom-right-radius: unset;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			.wikipediapreview {
				width: 100%;
			}
		}
	}
}

.wmf-wp-with-preview:hover {
	border-style: dashed;
}

body.rtl {

	.wikipediapreview-edit-preview-popover {

		.wikipediapreview-edit-preview-controllers {
			border-top-right-radius: unset;
			border-bottom-right-radius: unset;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;

			&-change {

				&::before {
					left: unset;
					right: 12px;
				}
			}

			&-remove {

				&::before {
					left: unset;
					right: 15px;

				}

			}
		}

		&.is-expanded {

			.wikipediapreview-edit-preview-controllers {
				margin-left: 0;
				margin-right: -52px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				border-top-left-radius: unset;
				border-bottom-left-radius: unset;
			}
		}
	}

	.wikipediapreview-edit-inline {

		&-search {

			&-input {

				input {
					padding-right: 35px !important;
					padding-left: unset;
				}

			}

			&-icon {
				left: unset;
				right: 18px;

				@media screen and (max-width: 782px) {
					bottom: 10px;
				}
			}

			&-close {
				left: 15px;
				right: unset;

				@media screen and (max-width: 782px) {
					bottom: 10px;
				}
			}

			/* stylelint-disable-next-line no-descending-specificity */
			&-loading {
				animation-name: wikipediapreview-edit-inline-rtl-loader;
			}
		}

		&-list {

			&-item {

				&-title {
					right: 60px;
					left: unset;
				}

				&-description {
					right: 60px;
					left: unset;
				}
			}
		}
	}

	&.is-expanded {

		.wikipediapreview-edit-inline-search-loading {
			animation-name: wikipediapreview-edit-inline-rtl-loader-expanded;
		}
	}
}

@keyframes wikipediapreview-edit-inline-loader {

	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(250px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes wikipediapreview-edit-inline-rtl-loader {

	0% {
		transform: translateX(250px);
	}

	50% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(250px);
	}
}

@keyframes wikipediapreview-edit-inline-loader-expanded {

	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(calc(100vw - 150px));
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes wikipediapreview-edit-inline-rtl-loader-expanded {

	0% {
		transform: translateX(calc(100vw - 150px));
	}

	50% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(100vw - 150px));
	}
}
