.wikipediapreview-edit-inline-container {
	width: 400px;
	padding: 16px;

	label {
		width: 100%;
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		
	}
}

.wmf-wp-with-preview:hover {
	border-style: dashed;
}
